article .miniabout-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 10px;
  padding: 10px;
}

article .miniabout-container .row {
  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-gap: 50px;
  padding: 40px 40px 40px;
  margin: 20px;
}

article .miniabout-container .row .col-1,
col-2,
col-3 {
  grid-column: 1;
}

article .miniabout-container p{
    margin: 10px auto;
}
